.form__label {
  font-weight: 500;
  display: flex;
}

.form__input {
  padding: 15px 20px;
  margin-top: 8px;
  height: 60px;
  font-size: 20px;
  outline: none;
  line-height: 30px;
  border: 1px solid #838383;
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  margin-bottom: 32px;
}
.form__button {
  border-radius: 4px;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 32px;
  height: 60px;
  background-color: #2f80ed;
  color: #ffffff;
  font-weight: 500;
  border: 0;
}
.form__fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
.form__button:hover {
  opacity: 70%;
  border-radius: 4px;
  cursor: pointer;
}
.form__checkbox {
  border-radius: 2px;
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 12px;
}
.form__checkbox:enabled {
  background-color: #2f80ed;
  background-image: url("/images/check.svg");
  cursor: pointer;
}
.form__label_checkbox {
  justify-content: center;
  align-items: center;
}
