.nav {
  display: flex;
  justify-content: space-between;
}
.nav__logo {
  margin-right: auto;
  height: 39px;
  width: 105px;
  position: relative;
}
.nav__links {
  display: flex;
  list-style-type: none;
  padding: 0;
  align-items: center;
  font-weight: 500;
  gap: 20px;
}
.nav__link {
  font-weight: bold;
  color: #000000;
}
.nav__link:hover {
  color: #c1c1c1;
}
